@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard-buttons">
    <div data-url="TaskList/Index">Lists</div>
    <div data-url="ParentTask/Index">Tasks</div>
    <div data-url="SubTask/Indexs">Subtasks</div>
</div>
