<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - PolyDo</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar">
        <a href="/TaskList/Index">Lists</a>
        <a href="/ParentTask/Index">Tasks</a>
        <a href="/SubTask/Index">Subtasks</a>
    </div>
    <div class="round-icon">i</div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/site.js"></script>
</body>
</html>
